.item_container {
    border: 1px solid black;
    width: 8cm;
}
.item_info {
    margin-left: 0.5em;
    margin-top: 0.5em;
}
.item_even {
    float: left;
    clear: left;
}
.item_odd {
    float: left;
}
.item_container img {
    width: 5.5cm;
    float: left;
    margin-left: 0.2em;
}
.cleric_container {
    border: 1px solid black;
    width: 8cm;
}
.cleric_container img {
    width: 7.6cm;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.item_extra_info {
    float: left;
    width: 2.1cm;
    overflow: hidden;
    white-space: nowrap;
    font-size: smaller;
}
.item_list {
    display: block;
}
.item_extra_event {
    font-size: x-small;
}
.item_info_name {
    white-space: nowrap;
    overflow: hidden;
}
.item_info_action {
    font-size: x-small;
}
.item_extra_code {
    font-family: serif;
}