#item-add-form {
    width: 19cm;
}

body {
    padding: 1cm;
}

/**
 * Hierarchy for item_container entities.
 *
 *  .item_container
 *      .item_head
 *          .item_price
 *      .item_body
 *          .item_price
 *          .item_name
 *          .barcode_container
 *              img
 *          .item_vendor_id
 *          .item_extra_code
 *      .item_button_delete
 *      .item_button_toggle
 */
#items {
    width: 19cm;
    float: left;
}
.item_template {
    display: none;
}
.item_container {
    border: 1px solid black;
    width: 99.9%;
    height: 3.62cm;
    float: left;
    padding: 0.1cm;
    position: relative; /* Needed for absolute positioning of child elements. */
    transition: width 0.2s;
}
.item_short {
    width: 49.95%;
}
.item_tiny {
    width: 33.3%;
}

.item_head {
    float: left;
    width: 2cm;
}
.item_short .item_head {
    display: none;
}
.item_tiny .item_head {
    display: none;
}
.item_body {
    float: left;
    width: 9.3cm;
    position: relative; /* Needed for absolute positioning of child elements. */
}

.item_price {
    width: 3cm;
    font-size: 150%;
    border: 2px inset;
}
.item_price:after {
    content:" \20AC"; /* euro */
}
.item_head_price:after {
    content:" \20AC"; /* euro */
}
.item_head_price {
    font-size: 100%;
    width: 1.5cm; /* Width of price before scaling. */
    text-align: center;
    display: inline-block;

    /* Rotate and scale the price tag. Order of operations matters.
     * 1. Translate left by width of this element, so top-right
     *    corner of price is on the top-left corner of price tag.
     * 2. Rotate the price so it's sideways.
     * 3. Scale the price by (tag height) / (price width) so it's
     *    centered correctly.
     */
    transform-origin: left top;
    transform:  scale(2) rotate(-90deg) translate(-100%, 0);
}

.item_name {
    width: 8.7cm;
    height: 2em;
    border: 2px inset;
}
.item_tiny .item_name {
    width: 5.5cm;
}

.barcode_container, .item_extra_code, .item_vendor_id {
    position: absolute;
}
.barcode_container {
    top: 1.7cm;
    padding: 0.1cm 0.25cm;
    background-color: white;
}
.barcode_container > img {
    width: 5.5cm;
    height: 1cm;
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
.item_vendor_id {
    top: 2.8cm;
    left: 4.5cm;
}
.item_extra_code {
    top: 2.8cm;
    left: 1cm;
}

.item_button_delete, .item_button_toggle {
    position: absolute;
    right: 0px;
    width: 1.5em;
    height: 1.5em;
    padding: 0px;
    font-size:14px;
    font-weight:bold;
}
.item_button_delete {
    top: 0em;
    font-family: Arial, Helvetica, sans-serif;
}
.item_button_toggle {
    top: 1.5em;
}
a.item_button_delete {
    position: absolute; width:20px;
    background-color: #FFF; color: black;
    border-radius: 20px;
    padding-left: 3px; padding-top: 1px;
    cursor:pointer; z-index: -1;
    font-size:16px; font-weight:bold;
}
.item_button_delete:disabled {
    border: 1px dashed darkgrey;
}

@media print {
    .item_price, .item_name {
        border: none;
    }
    .item_button_delete, .item_button_toggle {
        display: none;
    }
    #item-add-form {
        display: none;
    }
    .item_container {
        page-break-inside: avoid;
    }

    @page
    {
        /* this affects the margin in the printer settings */
        margin: 1cm 1cm;
    }

    body
    {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        padding: 0px;
    }

    #items {
        width: 100%;
    }
}

