{% load compressed %}
<!DOCTYPE html>
<html>
<head>
    <title>Kirppu - Checkout</title>
    {% compressed_css "general" %}
    {% compressed_css "checkout" %}
    {% compressed_js "general" %}
    {% compressed_js "checkout" %}
</head>
<body>
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(1)">Kirppu</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="navigation">
                <li class="dropdown" id="modeMenu"><a href="javascript:void(1)" class="dropdown-toggle" data-toggle="dropdown">Counter mode <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(1)" data-entrypoint="counter"><span class="glyphicon glyphicon-euro"></span> Checkout counter</a>
                    </li>
                    <li>
                        <a href="javascript:void(1)" data-entrypoint="vendor_check_in"><span class="glyphicon glyphicon-import"></span> Vendor Check-In</a>
                    </li>
                    <li>
                        <a href="javascript:void(1)" data-entrypoint="reports"><span class="glyphicon glyphicon-stats"></span> Reports</a>
                    </li>
                    <li class="disabled">
                        <a href="javascript:void(1)" data-entrypoint="vendor_check_out"><span class="glyphicon glyphicon-export"></span> Vendor Check-Out</a>
                    </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(1)">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="body" class="container">
    <h1 id="title_text">Checkout</h1>
    <h2 id="subtitle_text"></h2>
    <form role="form" id="code_form">
        <div class="form-group">
            <label class="sr-only" for="code_input">Code</label>
            <input type="text" id="code_input" class="form-control"
                   placeholder="Barcode" autofocus="true"/>
        </div>
    </form>
    <table class="table table-striped table-hover table-condensed" id="receipt_table">
        <thead>
        <tr>
            <th class="receipt_index">#</th>
            <th class="receipt_code">code</th>
            <th class="receipt_item">item</th>
            <th class="receipt_price">price</th>
        </tr>
        </thead>
        <tbody id="receipt">
        </tbody>
    </table>
</div>
<script type="application/javascript"><!--
    CheckoutConfig.uiId.stateText = "title_text";
    CheckoutConfig.uiId.subtitleText = "subtitle_text";
    CheckoutConfig.uiId.codeInput = "code_input";
    CheckoutConfig.uiId.codeForm = "code_form";
    CheckoutConfig.uiId.receiptResult = "receipt";
    CheckoutConfig.uiId.modeMenu = "modeMenu";

    CheckoutConfig.urls.apiValidateCounter = "{% url 'kirppu:api_validate_counter' %}";
    CheckoutConfig.urls.apiClerkLogin = "{% url 'kirppu:api_clerk_login' %}";
    CheckoutConfig.urls.apiClerkLogout = "{% url 'kirppu:api_clerk_logout' %}";
    CheckoutConfig.urls.apiItemInfo = "{% url 'kirppu:api_item_info' %}";
    CheckoutConfig.urls.apiItemReserve = "{% url 'kirppu:api_item_reserve' %}";
    CheckoutConfig.urls.apiItemRelease = "{%  url 'kirppu:api_item_release' %}";
    CheckoutConfig.urls.apiReceiptStart = "{% url 'kirppu:api_receipt_start' %}";
    CheckoutConfig.urls.apiReceiptFinish = "{% url 'kirppu:api_receipt_finish' %}";
    $(document).ready(function() {
        setupAjax();
        CheckoutConfig.check();
        CheckoutConfig.app.switcher = new ModeSwitcher();
        CheckoutConfig.app.switcher.startDefault();
    });
//--></script>
</body>
</html>
