{% load compressed %}
<!doctype html>
<html>
<head>
    <title>Item listing</title>
    {% compressed_css 'general' %}
    {% compressed_css 'seller' %}
    {% compressed_js 'general' %}
</head>
<body>
{% for i in items %}
    <div class="item_container {% cycle 'item_even' 'item_odd' %}">
    <div class="item_info">
        <span class="item_list item_info_name">{{ i.name }}</span>
        <span class="item_list item_info_price">{{ i.price }}&euro;</span>
    </div>
    <img src="{% url 'kirppu:image' i.code bar_type %}" alt="Barcode: {{ i.code }}" />
    <div class="item_extra_info">
        <span class="item_list item_extra_date">{{ i.event.get_date_identifier }}, {{ i.seller_id }}</span>
        <span class="item_list item_extra_event">{{ i.event }}</span>
        <span class="item_list item_extra_code">{{ i.code }}</span>
    </div>
    </div>
{% endfor %}
</body>
</html>