{% load compressed %}
{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Item listing</title>
    {% compressed_css 'general' %}
    {% compressed_css 'price_tags' %}
    {% compressed_js 'general' %}
    {% compressed_js 'jeditable' %}
    {% compressed_js 'price_tags' %}
</head>
<body>
    <form id="item-add-form" method="POST">
        {% csrf_token %}
        Name: <input id="item-add-name" type="text" /><br />
        Price: <input id="item-add-price" type="text" /><br />
        Suffixes: <input id="item-add-suffixes" type="text" /><br />
        Type:
        Short<input name="item-add-type" value="short" type="radio" checked="checked" />
        Long<input name="item-add-type" value="long" type="radio" /><br />
        <button id="add_short_item" type="button" class="item-add btn btn-mini btn-info">Add item</button>
        <button id="delete_all" type="button" class="btn btn-default">Delete all items</button>
        <button id="toggle_delete" type="button" class="btn btn-default">Toggle delete</button>
    </form>

    <script>
        itemsConfig.url_args.code = '__placeholder__';
        itemsConfig.urls.item_add = "{% url 'kirppu:item_add' %}";
        itemsConfig.urls.barcode_img = "{% url 'kirppu:barcode' '__placeholder__' bar_type %}";
        itemsConfig.urls.price_update = "{% url 'kirppu:item_update_price' '__placeholder__' %}";
        itemsConfig.urls.name_update = "{% url 'kirppu:item_update_name' '__placeholder__' %}";
        itemsConfig.urls.item_delete = "{% url 'kirppu:item_delete' '__placeholder__' %}";
        itemsConfig.urls.size_update = "{% url 'kirppu:item_update_type' '__placeholder__' %}";
        itemsConfig.urls.items_delete_all = "{% url 'kirppu:page' %}";
        itemsConfig.urls.roller = "{% static "img/roller.gif" %}";

        $(document).ready(function() {
            setupAjax();

            $('#add_short_item').click(addItem);
            $('#delete_all').click(deleteAll);
            $('#toggle_delete').click(toggleDelete);
            toggleDelete(); // Initialize delete buttons to disabled.

            bindTagEvents($('.item_container'));
        });
    </script>

    {# Output a single item_container as a template for javascript. #}
    {% include 'app_items_item.html' with tag_type="template" name="" price="0" code="X" vendor_id="" %}
    
    <div id="items">
        {# Output a template container for every item user has. #}
        {% for i in items %}
            {% include 'app_items_item.html' with name=i.name price=i.price code=i.code vendor_id=i.vendor_id tag_type=i.type %}
        {% endfor %}
    </div>
</body>
</html>
