{% extends "app_vendor.html" %}{% load i18n %}

{% block body %}
    <h1>Kirppu</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
        a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula
        ac quam viverra nec consectetur ante hendrerit. Donec et mollis
        dolor. Praesent et diam eget libero egestas mattis sit amet
        vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur. Donec ut libero sed arcu vehicula ultricies a non
        tortor.  Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a
        semper sed, adipiscing id dolor.  Pellentesque auctor nisi id
        magna consequat sagittis. Curabitur dapibus enim sit amet elit
        pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero
        in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi
        quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. In rutrum accumsan ultricies.  Mauris vitae nisi at sem
        facilisis semper ac in est.
    </p>

    <p>
        Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut
        tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper
        ultricies. Curabitur ornare, ligula semper consectetur sagittis,
        nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam
        dictum, odio nec pretium volutpat, arcu ante placerat erat,
        non tristique elit urna et turpis. Quisque mi metus, ornare sit
        amet fermentum et, tincidunt et orci. Fusce eget orci a orci
        congue vestibulum. Ut dolor diam, elementum et vestibulum eu,
        porttitor vel elit. Curabitur venenatis pulvinar tellus gravida
        ornare. Sed et erat faucibus nunc euismod ultricies ut id
        justo. Nullam cursus suscipit nisi, et ultrices justo sodales
        nec. Fusce venenatis facilisis lectus ac semper. Aliquam at
        massa ipsum. Quisque bibendum purus convallis nulla ultrices
        ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit
        laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel
        volutpat elit. Nam sagittis nisi dui.
    </p>

    {% if items %}
        <table class="table table-striped table-condensed">
            <caption><h4>{% trans "Registered items" %}</h4></caption>
            <thead>
            <tr>
                <th class="numeric">#</th>
                <th>{% trans "name" %}</th>
                <th>{% trans "code" %}</th>
                <th class="numeric">{% trans "price" %}</th>
                <th class="bool">{% trans "printed" %}</th>
            </tr>
            </thead>
            <tbody>

        {% for i in items %}
            <tr>
                <td class="numeric">{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.code }}</td>
                <td class="numeric">{{ i.price }}&nbsp;€</td>
                <td class="bool">{{ i.printed|yesno:_("yes,no") }}</td>
            </tr>
        {% endfor %}

            <tr>
                <th colspan="3">{% trans "Total:" %}</th>
                <th class="numeric">{{ total_price }}&nbsp;€</th>
                <th class="bool">
                    {% blocktrans %}{{ num_printed }} of {{ num_total }}{% endblocktrans %}
                </th>
            </tr>

            </tbody>
        </table>
    {% elif user.is_authenticated %}
        {% trans "No registered items." %}
    {% endif %}
{% endblock  %}
