{% load compressed %}{% load kirppu_tags %}{% load i18n %}
{% with display_width=display_width|default:barcode_width %}
<!doctype html>
<html>
<head>
    <title>{{ title|default:_("Clerk codes") }}</title>
    {% compressed_css 'general' %}
    {% compressed_css 'price_tags' %}
    {% compressed_js 'general' %}
    <style type="text/css">
        .item_container {
            height: 2.7cm;
        }
        .item_extra_code {
            width: 12em;
        }
        .item_name {
            height: 1.5em;
            margin-left: 1em;
            font-size: larger;
            font-weight: bold;
        }
        .item_container .barcode_container {
            width: {{ display_width }}px;
        }
        .item_container .barcode_img {
            width: {{ display_width }}px;
        }
    </style>
</head>
<body style="padding-left: 0.5cm;">
<div id="items">
    {% for ignored in repeat %}
    {% for i in items %}
    <div class="item_container item_short">
        <div class="item_body">
            <div class="item_name">{{ i.name }}</div>
            <div class="barcode_container">
                <img class="barcode_img" src="{% barcode_dataurl i.code bar_type barcode_width %}" alt="Barcode: {{ i.code }}" />
                <div class="item_extra_code">{{ i.code }}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div style="clear:both;"></div>
    {% endfor %}
</div>
</body>
</html>
{% endwith %}