/* ================ 1: checkout.css ================ */

.receipt_index {
    width:     2em;
    max-width: 2em;
}
.receipt_vendor_id {
    width:     5em;
    max-width: 5em;
}
.receipt_item {
    width: auto;
}
.receipt_code {
    width:     8em;
    max-width: 8em;
    text-align: center;
}
td.receipt_code {
    font-family: monospace;
}
.receipt_price {
    width:     5em;
    max-width: 5em;
    white-space: nowrap;
}
.receipt_vendor_id {
    width:     4em;
    max-width: 4em;
}
.receipt_status {
    width: 0;
    white-space: nowrap;
}
tr.receipt_tr_clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}
#counter_receipt > tr:first-child td {
    font-size: larger;
    font-weight: bold;
}
.color-CounterMode {
    background-color: #ccccff;
}
.color-ItemCheckInMode {
    background-color: #ccffcc;
}
.color-VendorCheckoutMode {
    background-color: #ffcccc;
}
.color-VendorFindMode {
    background-color: #ffffcc;
}
.color-ReceiptPrintMode {
    background-color: #ffccff;
}

.alert-blink {
    /* Container class when blinking. */
    background-color: deeppink;
}
.alert-off {
    /* Text container when no current error. */
    display: none;
}

@media print {

    @page
    {
        /* this affects the margin in the printer settings */
        margin: 1cm 1cm;
    }

    body
    {
        /* this affects the margin on the content before sending to printer */
        margin: 0px;
        padding: 0px;
    }

}
